body.overflow {
  overflow-y: hidden;
}

.site-header {
  position: relative;
  padding: 10px 0 0;
  font-family: $font__sans;

  @media screen and (min-width: $query__small) {
    padding: 20px;
    height: 122px;
  }
}

/*
Header Menu
 */
@import "header-menu";