// Header
.home-picture-header {
    display: none;
    height: 600px;
    position: relative;
    padding: 0 2em;

    @media screen and (min-width: $query__small) {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
    }
}

.home-picture-header-mobile {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: 300px;
    position: relative;
    padding: 0 2em;

    @media screen and (min-width: $query__small) {
        display: none;
    }
}

.home-header-title {
    color: $color__site-primary;
    background: #fff;
    padding: .25em;
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    z-index: 1;
    position: relative;

    @media screen and (min-width: $query__small) {
        font-size: 3rem;
    }
}

.home-header-tagline {
    color: #333;
    background: #fff;
    padding: .25em;
    display: inline-block;
    font-size: 1rem;
    z-index: 1;
    position: relative;
    margin: .75em 0;
    word-spacing: .1em;

    @media screen and (min-width: $query__small) {
        font-size: 1.5rem;
    }
}

//Mission Statement
.our-mission {
    margin: 2em auto 4em;

    @media screen and (min-width: $query__small) {
        display: flex;
        align-items: center;
        max-width: 1080px;
    }

    .mission-content {
        padding: 0 1em;

        @media screen and (min-width: $query__small) {
            padding: 0 2em;
            flex: .75;
        }

        .description {
            line-height: 1.6;
            word-spacing: 0.1em;
        }
    }

    .mission-link {
        text-align: center;
        flex: .25;
    }
}

//Studios
.home-studios-container {
    padding: 4em 0;
    text-align: center;
    position: relative;
    @include dark-background( rgba( 50,61,79,.8 ) );

    h2,
    p,
    a {
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    .home-studios-description {
        color: #fff;
        margin: 2em auto;
        font-size: .9rem;
        line-height: 1.6;
        padding: 0 1em;
        word-spacing: 0.075em;

        @media screen and (min-width: $query__small) {
            font-size: 1rem;
        }
    }
}

//Contact
.home-contact {
    margin: 0 auto;
    padding: 4em 0;

    @media screen and (min-width: $query__small) {
        display: flex;
        align-items: center;
        max-width: 1200px;
    }

    .home-contact-img {
        flex: 1;
        padding: 1em;

        @media screen and (min-width: $query__small) {
            padding: 0 1em;
        }

        img {
            display: block;
        }
    }

    .home-contact-container {
        flex: 1;
        padding: 0 1em;
        text-align: center;

        h3 {
            margin: 0;
        }

        p {
            margin: 1.5em 0;
        }

        .home-contact-info {

            @media screen and (min-width: 1025px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .home-contact-info-text {

                h5 {
                    margin: 0;
                }

                p {
                    margin: .5em 0;

                    a {
                        display: block;
                        font-size: 1rem;
                        margin: .25em 0;
                        text-decoration: none;

                        @media screen and (min-width: $query__small) {
                            font-size: 1.1rem;
                        }

                        &:hover,
                        &:focus {
                            color: $color__site-primary;
                            border: 0;
                        }
                    }
                }
            }

            .or {
                margin: 1em 2em;
                font-size: 1rem;
                font-weight: 700;

                @media screen and (min-width: $query__small) {
                    font-size: 1.1rem;
                }

                @media screen and (min-width: 1025px) {
                    margin: 0 2em;
                }
            }
        }
    }
}